*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

header{
    align-items: center;
    background-color: black;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

ul{
    color: white;
    display: flex;
    justify-content: space-around;
}

li{
    margin: 5px 10px;
}

footer{
    align-items: center;
    background-color: black;
    display: flex;
    height: 150px;
    justify-content: space-between;
}

footer nav{
    order: -1;
}

footer nav ul{
    flex-direction: column;
}

main section{
    width: 490px;
    height: 350px;
    margin: 35px 5px;
    background-color: white;
    border-radius: 5%;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: #F3F3F3;
}

h2{
    color: #FC200C;
    font-size: 24px;
    font-weight: 700px;
    line-height: normal;
    font-style: normal;
}

h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

ol{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Podio{
    position: relative;
}

.Podio h2{
    position: absolute;
    top: 26px;
    left: 160px;
}

.Podio h3{
    position: absolute;
    top: 112px;
    left: 74px;
}

.Podio ol{
    position: absolute;
    top: 155px;
    left: 56px;
}

.Podio img{
    position: absolute;
    top: 132px;
    left: 330px;
}